<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>23</integer>
		<key>W</key>
		<integer>16</integer>
		<key>comma</key>
		<integer>16</integer>
		<key>period</key>
		<integer>19</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-106</integer>
		<key>g</key>
		<integer>-28</integer>
		<key>period</key>
		<integer>-134</integer>
		<key>q</key>
		<integer>-23</integer>
		<key>s</key>
		<integer>-7</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-76</integer>
		<key>quoteright</key>
		<integer>-85</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>q</key>
		<integer>-73</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>q</key>
		<integer>-41</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-19</integer>
		<key>period</key>
		<integer>-83</integer>
		<key>v</key>
		<integer>-41</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>4</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>g</key>
		<integer>-9</integer>
		<key>x</key>
		<integer>5</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-120</integer>
		<key>f</key>
		<integer>-47</integer>
		<key>period</key>
		<integer>-138</integer>
		<key>quotedblright</key>
		<integer>35</integer>
		<key>quoteright</key>
		<integer>35</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-67</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>v</key>
		<integer>-33</integer>
		<key>w</key>
		<integer>-26</integer>
		<key>x</key>
		<integer>-17</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>q</key>
		<integer>-34</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>q</key>
		<integer>-38</integer>
	</dict>
</dict>
</plist>
