<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>D</key>
	<dict>
	    <key>period</key>
	    <integer>15</integer>
	    <key>comma</key>
	    <integer>12</integer>
	    <key>W</key>
	    <integer>12</integer>
	    <key>V</key>
	    <integer>18</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>s</key>
	    <integer>-5</integer>
	    <key>q</key>
	    <integer>-18</integer>
	    <key>period</key>
	    <integer>-102</integer>
	    <key>g</key>
	    <integer>-21</integer>
	    <key>comma</key>
	    <integer>-81</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-65</integer>
	    <key>quotedblright</key>
	    <integer>-58</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>q</key>
	    <integer>-55</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>q</key>
	    <integer>-31</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>v</key>
	    <integer>-31</integer>
	    <key>period</key>
	    <integer>-63</integer>
	    <key>b</key>
	    <integer>-15</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>3</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>4</integer>
	    <key>g</key>
	    <integer>-7</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quoteright</key>
	    <integer>26</integer>
	    <key>quotedblright</key>
	    <integer>26</integer>
	    <key>period</key>
	    <integer>-105</integer>
	    <key>f</key>
	    <integer>-36</integer>
	    <key>comma</key>
	    <integer>-91</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>g</key>
	    <integer>-51</integer>
	</dict>
	<key>m</key>
	<dict>
	    <key>x</key>
	    <integer>-13</integer>
	    <key>w</key>
	    <integer>-20</integer>
	    <key>v</key>
	    <integer>-25</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>q</key>
	    <integer>-26</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>q</key>
	    <integer>-29</integer>
	</dict>
    </dict>
</plist>
